* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Arial", "sans-serif";
}

body {
  overflow: hidden;
}

li {
  list-style: none;
}

h5 {
  font-size: inherit;
  font-weight: inherit;
}

header {
  position: relative;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: auto;
  padding: 0 25px;
}

div.hidden {
  opacity: 0;
  transition: opacity 0.4s linear;
}

div.visible {
  opacity: 1;
  transition: opacity 0.4s linear;
}

i.hidden {
  opacity: 0;
  transition: opacity 0.2s linear;
}

i.visible {
  opacity: 1;
  transition: opacity 0.2s linear;
}

div.rollable {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  padding: 0 !important;
  margin: 0 !important;
  transition: max-height 0.4s linear, opacity 0.4s linear;
}

div.rolled {
  max-height: 800px;
  opacity: 1;
  transition: max-height 0.4s linear, opacity 0.4s linear;
}

.mobile-menu-wraper {
  display: none;
  align-items: center;
}
.mobile-menu-wraper .hamburger {
  padding: 10px 16px;
  color: #696969;
  font-size: 13px;
}

.main-menu-wraper {
  display: flex;
  justify-content: space-between;
  max-width: 1330px;
  width: 100%;
  margin: auto;
  padding: 0 25px;
}

.main-menu {
  display: flex;
  align-items: center;
}
.main-menu .menu-links {
  display: flex;
  align-items: center;
}
.main-menu .menu-links li {
  position: relative;
  margin-left: 20px;
  padding: 32px 0;
  font-size: 17px;
  font-weight: bold;
  color: rgb(114, 114, 114);
  cursor: pointer;
}
.main-menu .menu-links li:before {
  content: "";
  background-color: black;
  position: absolute;
  top: calc(100% - 3px);
  left: 50%;
  height: 3px;
  width: 100%;
  max-width: 0;
}
.main-menu .menu-links li:hover {
  color: black;
}
.main-menu .menu-links li:hover:before {
  height: 3px;
  max-width: 100%;
  left: 0;
  transition: max-width 0.3s, left 0.3s;
}

.icons-menu {
  display: flex;
  align-items: center;
  padding-right: 6px;
}
.icons-menu i {
  font-size: 17px;
  color: #696969;
  margin-left: 21px;
  cursor: pointer;
}

.dropdown-submenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}
.dropdown-submenu .products-icons-menu {
  display: flex;
  justify-content: center;
}
.dropdown-submenu .products-icons-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 30px;
}
.dropdown-submenu .products-icons-menu li > div {
  color: rgb(114, 114, 114);
  font-weight: bold;
  font-size: 14px;
}
.dropdown-submenu .products-icons-menu li i {
  font-size: 38px;
  padding: 8px 0;
  color: #696969;
}

.dropdown-submenu .inner {
  display: flex;
}
.dropdown-submenu .inner h5 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  margin: 20px;
}
.dropdown-submenu .inner .dropdown-section {
  flex: 1 0 0;
  border-right: 2px solid rgb(238, 238, 238);
  margin-right: 20px;
}
.dropdown-submenu .inner .dropdown-section li {
  display: block;
  margin: 0;
  padding: 9px 0;
  font-size: 14px;
  font-weight: normal;
  color: rgb(114, 114, 114);
}
.dropdown-submenu .inner .select h5 {
  color: white;
}
.dropdown-submenu .inner .select li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 10px 10px 10px 0;
}
.dropdown-submenu .inner .select li div {
  font-size: 17px;
}
.dropdown-submenu .inner .select li i {
  color: #696969;
  font-size: 15px;
}
.dropdown-submenu .inner .select li:first-child {
  border-right: 2px solid black;
}
.dropdown-submenu .inner .select li:first-child > div {
  color: black;
}
.dropdown-submenu .inner .photo-section img {
  width: 100%;
}

.dropdown-submenu.submenu-products {
  background-color: rgb(238, 238, 238);
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding-top: 34px;
  border-top: 1px rgb(238, 238, 238) solid;
  font-weight: bold;
  font-size: 17px;
}
.mobile-menu .menu-item > div:first-child {
  padding: 25px 0;
  margin: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu .submenu {
  width: 100%;
  background-color: rgb(238, 238, 238);
  padding-top: 10px;
}
.mobile-menu .submenu .submenu-item {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  padding: 18px 0;
  font-weight: normal;
  color: #696969;
}
.mobile-menu .submenu .submenu-item i {
  margin-right: 5px;
  font-size: 20px;
}
.mobile-menu .submenu .submenu-item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu .overlayed-menu {
  position: absolute;
  overflow: auto;
  height: 600px;
  top: 23px;
  padding: 20px 25px;
  background-color: white;
}
.mobile-menu .overlayed-menu > h5 {
  display: flex;
  align-items: flex-start;
}
.mobile-menu .overlayed-menu > h5 > div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(238, 238, 238);
  padding-bottom: 10px;
}
.mobile-menu .overlayed-menu > h5 > div i {
  margin-right: 20px;
  font-size: 10px;
  color: #696969;
}
.mobile-menu .overlayed-menu li {
  height: 100%;
}
.mobile-menu .overlayed-menu ul {
  padding-bottom: 30px;
}
.mobile-menu .overlayed-menu .submenu-item {
  padding: 25px 0;
}

@media (min-width: 1300px) {
  .main-menu .menu-links li {
    margin-left: 50px;
  }
}
@media (max-width: 991px) {
  .main-menu .menu-links {
    display: none;
  }
  .icons-menu i {
    padding: 29px 0;
  }
  .icons-menu i:nth-child(2) {
    display: none;
  }
  .mobile-menu-wraper {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */