$light-grey: #696969;
$lighter-grey: rgb(238, 238, 238);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Arial", "sans-serif";
}

body{
    overflow: hidden;
}

li{
    list-style: none;
}

h5{
    font-size: inherit;
    font-weight: inherit;
}

header{
    position: relative;
}

.hidden{
    opacity: 0;
    transition: opacity 0.4s linear;
}

.visible{
    opacity: 1;
    transition: opacity 0.4s linear;
}


div.rollable{
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    padding: 0 !important;
    margin: 0 !important;
    transition: max-height 0.4s linear, opacity 0.4s linear;
}


div.rolled{
    max-height: 800px;
    opacity: 1;
    transition: max-height 0.4s linear, opacity 0.4s linear;
}



//main menu

.mobile-menu-wraper{
    display: none;
    align-items: center;
    .hamburger{
        padding: 10px 16px;
        color: $light-grey;
    }
}

.main-nav{
    display: flex;
    justify-content: space-between;
    max-width: 1330px;
    width: 100%;
    margin: auto;
    padding: 0 25px;
}

.main-menu{
    display: flex;
    align-items: center;

    .menu-links{
        display: flex;
        align-items: center;
        li{
            margin-left: 20px;
            padding: 32px 0;
            font-size: 17px;
            font-weight: bold;
            color: rgb(163, 163, 163);
        }
    }
}

.icons-menu{
    display: flex;
    align-items: center;
    padding-right: 6px;
    i{
        font-size: 17px;
        color: $light-grey;
        margin-left: 21px;
    }
}

//mobile menu
.mobile-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding-top: 34px;
    border-top: 1px $lighter-grey solid;
    font-weight: bold;
    font-size: 17px;
    .menu-item>div:first-child{
        padding: 25px 0;
        margin: 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.mobile-menu .submenu{
    width: 100%;
    background-color: $lighter-grey;
    padding-top: 10px;
    .submenu-item{
        display: flex;
        justify-content: space-between;
        margin: 0 25px;
        padding: 18px 0;
        font-weight: normal;
        color: $light-grey;
        i{
            margin-right: 5px;
            font-size: 20px;
        }
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.mobile-menu .overlayed-menu{
    position: absolute;
    overflow: auto;
    height: 600px;
    top: 23px;
    padding: 20px 25px;
    background-color: white;
    >h5{
        display: flex;
        align-items: flex-start;
        >div{
            display: flex;
            align-items: center;
            border-bottom: 1px solid $lighter-grey;
            padding-bottom: 10px;
            i{
                margin-right: 20px;
                font-size: 10px;
                color: $light-grey;
            }
        }
    }
    li{

     height: 100%;
    }
    ul{
        padding-bottom: 30px;
    }
    .submenu-item{
        padding: 25px 0;
    }
}



@media(min-width: 1300px){
    .main-menu{
        .menu-links li{
            margin-left: 50px;
        }
    }
}
@media(max-width: 991px){
    .main-menu{
        .menu-links{
            display: none;
        }
        
    }
    .icons-menu{
        i{
            padding: 29px 0;
        }
        i:nth-child(2){
            display: none;
        }
    }
    .mobile-menu-wraper{
        display: flex;
    }
    
}